<template>
    <div id="app" class="font-sans antialiased text-black">
        <div id="nav" class="bg-purple-dark">
            <div class="container flex items-center justify-between py-6">
                <div>
<!--                    <router-link to="/" class="text-white hover:text-grey-light">Home</router-link> |-->
<!--                    <router-link to="/test" class="text-white hover:text-grey-light pl-6">About</router-link> |-->
                    <router-link to="/homepage" class="text-white hover:text-grey-light pl-6">Homepage</router-link> |
                    <router-link to="/about" class="text-white hover:text-grey-light pl-6">About</router-link> |
                    <router-link to="/login" class="text-white hover:text-grey-light pl-6">Login</router-link>
                </div>
            </div>
        </div>

        <router-view/>
    </div>
</template>

<script>
    export default {
        name: "App"
    }
</script>

<style scoped>

</style>
