<template>
    <div>
        <form action="" method="POST" @submit.prevent="login">
            <div>
                <input type="email" v-model="username" name="username" id="username" placeholder="Email">
            </div>

            <div>
                <input type="password" v-model="password" name="password" id="password" placeholder="Enter your password">
            </div>
<br>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</template>

<script>
import gql from 'graphql-tag'

export default {
    data() {
        return {
            username: '',
            password: ''
        }
    },
    methods: {
        login() {
            this.$apollo.mutate({
                mutation: gql`mutation ($input: LoginInput!) {
                    login(input: $input) {
                        access_token
                    }
                }`,
                variables: {
                    input: {
                        username: this.username,
                        password: this.password
                    }
                }
            }).then((data) => {
                console.log(data)
            }).catch((error) => {
                console.log(error)
            });
        }
    }
}
</script>

<style scoped>
    input {
        padding: 14px 20px;
        font-size: 18px;
        margin-bottom: 14px;
    }

    button {
        width: 160px;
        padding: 14px;
        background: #017BFF;
        color: white;
        font-size: 16px;
    }
</style>

