<template>
    <div class="test">
        12365465465432168132486131681
        asvasvsa

        TESTTTTTTTTTTTTTTTT
<!--&lt;!&ndash;        <ApolloQuery :query="require('@/graphql/queries/Categories.gql')">&ndash;&gt;-->
<!--&lt;!&ndash;            <template slot-scope="{ result: { data, loading } }">&ndash;&gt;-->
<!--&lt;!&ndash;                <div v-if="loading">Loading...</div>&ndash;&gt;-->
<!--&lt;!&ndash;                <ul v-else>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li v-for="category of data.categories" :key="category.id" class="user">&ndash;&gt;-->
<!--&lt;!&ndash;                        {{ category.id }} {{ category.name}}&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                </ul>&ndash;&gt;-->
<!--&lt;!&ndash;            </template>&ndash;&gt;-->
<!--&lt;!&ndash;        </ApolloQuery>&ndash;&gt;-->
    </div>
</template>

<script>
    import gql from 'graphql-tag'

    export default {
        name: "test",
        components: {},
        data() {
            return {
                categories: []
            }
        },
        apollo: {
            category: gql`{
                categories {
                    id
                    name
                }
            }`
        }
    }
</script>

